body {
	background-color: black;
}

/*HEADER START */

#header-nav {
	background-color: black;
	border-width: 0px;
	margin-top: 25px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

#header-nav a:hover {
	background-color: red;
	color: white;
}

#header-nav a:active {
	background-color: darkred;
	color: white;
}

.navbar-default .navbar-nav>.active>a {
	background-color: red;
	color: white;
}

#collapsable-nav.navbar-collapse {
	text-align: center;
}

#navbarToggle {
	clear: none;
	margin-top: -40px
}

.navbar-brand {
	float: none;
	clear: none;
}

h1 {
	color: white;
	font-size: 72px;
	margin-top: 60px;
	margin-bottom: 100px;
}

.navbar-brand h1{
	font-size: 36px;
	margin-top: 0px;
  	margin-bottom:0px;
  	line-height: .75;
}

/*HEADER END */

/*CONTENT START*/

::selection{
	background-color: darkred;
}

::-moz-selection {
	background-color: darkred;
}

p {
	color: white;
	text-align: justify;
	font-size: 18px;
}

#introP p {
	margin: 0px 100px 0px 100px;
}

#countryText {
	border: 1px solid lightgrey;
}

#countryText h2 {
	color: red;
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 20px;
}

#countryText p {
	margin-left: 30px;
	margin-left: 30px;
}

/*******Media Queries*****************/

/* XXXS Screens */
@media (max-width: 479px) {

}

/* XS Screens */
@media (max-width: 767px) {

}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium Screens */

@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large Screens */
@media (min-width: 1200px) {

}